h1 {
    color: white;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #09093c 0%, #05456a 74%);
}

.card-border {
    border: 1px solid black;
}

.cards {
    background-color: #34475b;
}