h1 {
    color: white;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #09093c 0%, #07517d 74%);
}

.card-border {
    border: 1px solid black;
}

.forecast {
    border-right: 10px solid white;
}
.forecast:last-child{
    border-right: none;
}